
table.excel {
    border-style:ridge;
    border-width:1;
    border-collapse:collapse;
    font-family:sans-serif;
    font-size:12px;
    margin: 0 auto;
    margin-top: 20px;
}
table.excel thead th, table.excel tbody th {
    /*background:#CCCCCC;*/
    background-color: #E9F4FF;
    border-style:ridge;
    border-width:1px;
    border-color: #CCC;
    text-align: center;
    vertical-align:bottom;
    color: #1F75CC;
    padding: 5px;
}
table.excel tbody th {
    text-align:center;
    width:20px;
}
table.excel tbody td {
    vertical-align:bottom;
}
table.excel tbody td {
    padding: 0 3px;
    padding: 5px 10px;
    border: 1px solid #EEEEEE;
}